In [2]:
import pandas as pd
import numpy as np
import os

In [13]:
PROJECT_DIR=r"C:\Users\OM CHAVAN\OneDrive\Desktop\Netflix"
DIR="datasets"

In [179]:
def file_name(name):
    df_name=f"{name}.csv"
    file=os.path.join(PROJECT_DIR,DIR,df_name)
    return pd.read_csv(file,encoding='latin-1')

In [180]:
netflix=file_name("netflix_titles")
netflix

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8807,s8808,TV Show,Parasyte: The Grey,Yeon Sang-ho,"Shin Hyun-been, Jeon Yeo-bin, Goo Kyo-hwan",South Korea,"April 5, 2024",2024,TV-MA,1 Season,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8808,s8809,Movie,Serena,Susanne Bier,"Bradley Cooper, Jennifer Lawrence, Toby Jones,...",United States,"April 5, 2024",2014,A,110 min,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [181]:
netflix.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8809 entries, 0 to 8808
Data columns (total 26 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8809 non-null   object
 1   type          8809 non-null   object
 2   title         8809 non-null   object
 3   director      6175 non-null   object
 4   cast          7984 non-null   object
 5   country       7978 non-null   object
 6   date_added    8799 non-null   object
 7   release_year  8809 non-null   int64
 8   rating        8805 non-null   object
 9   duration      8806 non-null   object
 10  listed_in     8809 non-null   object
 11  description   8809 non-null   object
 12  Unnamed: 12   0 non-null      float64
 13  Unnamed: 13   0 non-null      float64
 14  Unnamed: 14   0 non-null      float64
 15  Unnamed: 15   0 non-null      float64
 16  Unnamed: 16   0 non-null      float64
 17  Unnamed: 17   0 non-null      float64
 18  Unnamed: 18   0 non-null      float64
 19  Unnamed: 19   0 non-null      float64
 20  Unnamed: 20   0 non-null      float64
 21  Unnamed: 21   0 non-null      float64
 22  Unnamed: 22   0 non-null      float64
 23  Unnamed: 23   0 non-null      float64
 24  Unnamed: 24   0 non-null      float64
 25  Unnamed: 25   0 non-null      float64
dtypes: float64(14), int64(1), object(11)
memory usage: 1.7+ MB

-data has 8809 entries , 26 features
-has missing values in columns(director,cast,country,date_added,rating,duration)
-column 12-25 are unnamed and has all null values
-some columns are unappropriate

# PRELIMINARY ANALYSIS

# a.check data_types

In [183]:
netflix.head(2)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [184]:
netflix.dtypes

show_id          object
type             object
title            object
director         object
cast             object
country          object
date_added       object
release_year      int64
rating           object
duration         object
listed_in        object
description      object
Unnamed: 12     float64
Unnamed: 13     float64
Unnamed: 14     float64
Unnamed: 15     float64
Unnamed: 16     float64
Unnamed: 17     float64
Unnamed: 18     float64
Unnamed: 19     float64
Unnamed: 20     float64
Unnamed: 21     float64
Unnamed: 22     float64
Unnamed: 23     float64
Unnamed: 24     float64
Unnamed: 25     float64
dtype: object

In [185]:
netflix.show_id.iloc[8800]

's8801'

In [186]:
netflix.date_added.iloc[200]

'August 27, 2021'

In [187]:
netflix.rating.iloc[27]

'PG-13'

In [188]:
netflix.description.iloc[9]

"A woman adjusting to life after a loss contends with a feisty bird that's taken over her garden â\x80\x94 and a husband who's struggling to find a way forward."

In [189]:
netflix.duration.iloc[0]

'90 min'

# b. Check for Duplicates

In [190]:
netflix.duplicated().sum()

0

# c. Observations

- "show_id","duration" is mixed,it should be numeric
- "date_added" is mixed it should be datetime
- didn't understand the "rating" column
- "Unnamed: 12"-"Unnamed: 25" should be removed
- there is 0 duplicates in dataset

# Detailed_Analysis

In [191]:
# show_id

In [192]:
netflix.show_id

0          s1
1          s2
2          s3
3          s4
4          s5
        ...
8804    s8805
8805    s8806
8806    s8807
8807    s8808
8808    s8809
Name: show_id, Length: 8809, dtype: object

In [193]:
netflix.show_id.unique().size

8809

In [194]:
(
    netflix
    .show_id
    .str.replace("s","")
    .unique()
)

array(['1', '2', '3', ..., '8807', '8808', '8809'], dtype=object)

In [ ]:
# type

In [233]:
netflix.type.unique()

array(['Movie', 'TV Show'], dtype=object)

In [234]:
# title

In [237]:
netflix.title

0        Dick Johnson Is Dead
1               Blood & Water
2                   Ganglands
3       Jailbirds New Orleans
4                Kota Factory
                ...
8804               Zombieland
8805                     Zoom
8806                   Zubaan
8807       Parasyte: The Grey
8808                   Serena
Name: title, Length: 8809, dtype: object

In [238]:
#director

In [240]:
netflix.director.unique()

array(['Kirsten Johnson', nan, 'Julien Leclercq', ..., 'Peter Hewitt',
       'Mozez Singh', 'Yeon Sang-ho'], dtype=object)

In [243]:
#cast

In [247]:
netflix.cast

0                                                     NaN
1       Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...
2       Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...
3                                                     NaN
4       Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...
                              ...
8804    Jesse Eisenberg, Woody Harrelson, Emma Stone, ...
8805    Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...
8806    Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...
8807           Shin Hyun-been, Jeon Yeo-bin, Goo Kyo-hwan
8808    Bradley Cooper, Jennifer Lawrence, Toby Jones,...
Name: cast, Length: 8809, dtype: object

In [195]:
# date_added

In [196]:
netflix.date_added

0       September 25, 2021
1       September 24, 2021
2       September 24, 2021
3       September 24, 2021
4       September 24, 2021
               ...
8804      November 1, 2019
8805      January 11, 2020
8806         March 2, 2019
8807         April 5, 2024
8808         April 5, 2024
Name: date_added, Length: 8809, dtype: object

In [197]:
(
    netflix
    .date_added
    .loc[1]
)

'September 24, 2021'

In [224]:
# netflix.date_added[1442]

In [223]:
# netflix.date_added
pd.to_datetime(netflix['date_added'].str.strip(),dayfirst=True)

0      2021-09-25
1      2021-09-24
2      2021-09-24
3      2021-09-24
4      2021-09-24
          ...
8804   2019-11-01
8805   2020-01-11
8806   2019-03-02
8807   2024-04-05
8808   2024-04-05
Name: date_added, Length: 8809, dtype: datetime64[ns]

In [248]:
# release_year

In [251]:
netflix.release_year

0       2020
1       2021
2       2021
3       2021
4       2021
        ...
8804    2009
8805    2006
8806    2015
8807    2024
8808    2014
Name: release_year, Length: 8809, dtype: int64

In [ ]:
# rating

In [264]:
netflix.rating.unique()

array(['PG-13', 'TV-MA', 'PG', 'TV-14', 'TV-PG', 'TV-Y', 'TV-Y7', 'R',
       'TV-G', 'G', 'NC-17', '74 min', '84 min', '66 min', 'NR', nan,
       'TV-Y7-FV', 'UR', 'A'], dtype=object)

In [277]:
(
    netflix
    .rating
    .loc[lambda ser :ser.str.contains('74 min',na=False)]
)

5541    74 min
Name: rating, dtype: object

In [279]:
(
    netflix
    .rating
    .loc[lambda ser :ser.str.contains('84 min',na=False)]
)

5794    84 min
Name: rating, dtype: object

In [280]:
(
    netflix
    .rating
    .loc[lambda ser :ser.str.contains('66 min',na=False)]
)

5813    66 min
Name: rating, dtype: object

In [282]:
netflix.iloc[[5541,5813,5794]]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
5541,s5542,Movie,Louis C.K. 2017,Louis C.K.,Louis C.K.,United States,"April 4, 2017",2017,74 min,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5813,s5814,Movie,Louis C.K.: Live at the Comedy Store,Louis C.K.,Louis C.K.,United States,"August 15, 2016",2015,66 min,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5794,s5795,Movie,Louis C.K.: Hilarious,Louis C.K.,Louis C.K.,United States,"September 16, 2016",2010,84 min,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [229]:
#duration

In [298]:
netflix.duration

0          90 min
1       2 Seasons
2        1 Season
3        1 Season
4       2 Seasons
          ...
8804       88 min
8805       88 min
8806      111 min
8807     1 Season
8808      110 min
Name: duration, Length: 8809, dtype: object

- index [5541,5813,5794] if filled incorrect as Nan ,the duration is misplaced in rating column

In [548]:
netflix.iloc[[5541]]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
5541,s5542,Movie,Louis C.K. 2017,Louis C.K.,Louis C.K.,United States,"April 4, 2017",2017,74 min,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [481]:
def extract_season_number(duration):
    if pd.isna(duration):
        return np.nan
    return int(duration.split()[0])

season_numbers = [extract_season_number(duration) for duration in unique_durations_list]
season_numbers.sort()
season_numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 17, nan]

In [602]:
(
    netflix
    .duration
    .str.replace("Seasons?","seasons",regex=True)
)

0          90 min
1       2 seasons
2       1 seasons
3       1 seasons
4       2 seasons
          ...
8804       88 min
8805       88 min
8806      111 min
8807    1 seasons
8808      110 min
Name: duration, Length: 8809, dtype: object

# Cleaning

In [603]:
def cleaned_data(df):

    return (
        df
        .assign(**{
            col: df[col].str.strip()
            for col in df.select_dtypes(include='O')
        })
        .assign(
            show_id=lambda df_:(
                df_
                .show_id
                .str.replace("s","")
                .unique()
            ),
            date_added=lambda df_ : pd.to_datetime(netflix['date_added'].str.strip(),dayfirst=True),
            duration=lambda df_: (
                df_
                .duration
                .str.replace("Seasons?","seasons",regex=True)
            )
        )
        .iloc[:,:12]
        .drop(columns='rating')
        .drop(columns="show_id")
    )

In [604]:
netflix_cleaned=cleaned_data(netflix)#.date_added
netflix_cleaned

,type,title,director,cast,country,date_added,release_year,duration,listed_in,description
0,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,2021-09-25,2020,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,2021-09-24,2021,2 seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,2021-09-24,2021,1 seasons,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,2021-09-24,2021,1 seasons,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,2021-09-24,2021,2 seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...,...,...,...,...
8804,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,2019-11-01,2009,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,2020-01-11,2006,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,2019-03-02,2015,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...
8807,TV Show,Parasyte: The Grey,Yeon Sang-ho,"Shin Hyun-been, Jeon Yeo-bin, Goo Kyo-hwan",South Korea,2024-04-05,2024,1 seasons,"Sci-fi, Horror, Action",A new breed of parasitic aliens arrive on Eart...
8808,Movie,Serena,Susanne Bier,"Bradley Cooper, Jennifer Lawrence, Toby Jones,...",United States,2024-04-05,2014,110 min,"Drama, Romance, Thriller","In the 1920s, a newly married couple attempt t..."

In [607]:
netflix_cleaned.shape

(8809, 10)